/* Global styles */
body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0; /* Light gray background */
    background-image: url('weather-background.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 30px;
    text-align: center;
    width: 300px;
    max-width: 80%;
  }
  
  h1 {
    color: #070707; /* Bright blue color */
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    width: 200px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #1f2021; /* Bright blue background */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #161717; /* Darker blue on hover */
  }
  
  #weatherInfo {
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #weatherInfo h2 {
    margin-bottom: 10px;
    color: #343a40; /* Dark gray text */
  }
  
  #weatherInfo p {
    margin: 5px 0;
  }
  
  #clearButton {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #dc3545; /* Red background color */
    color: #fff; /* White text */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #clearButton:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  